@model CourierManagementSystem.Areas.Auth.Models.LogInViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body style="background-color:#333333">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center ">
            <div class="col-xl-6 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">

                                      @*  <img src="" style="margin:0px 0px 10px 0px;" height="100" width="100" />*@

                                        <h5 style="color:black;margin-bottom: 12px; font-weight: 700;">WELCOME TO COURIER SERVICE MANAGEMENT SYSTEM</h5>
                                        <form class="user" asp-area="Auth" asp-controller="Account" asp-action="Login" method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user" id="exampleInputEmail" name="Name" aria-describedby="emailHelp" placeholder="Enter ID">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" name="Password" id="exampleInputPassword" placeholder="Password">
                                            </div>
                                            <button type="submit" class="btn-user btn-block" style="background:#bac1ca;color:#1d2352;border:none;font-weight:900;font-size:20px">
                                                Login
                                            </button>
                                        </form>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function handleClick(cb) {
            if (cb.checked == true) {
                $('#customCheck').val(true);
            } else {
                $('#customCheck').val(false);
            }
        }
    </script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
</body>
</html>