@{
    ViewData["Title"] = "ReportDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "Medicine";
}

<div class="row clearfix">
    <div class="col-12" style="background-color: #ecf0f3;">
        <div class="card mb-4 shadow p-3 mb-3" style="background-color: #ecf0f3;">


            <div class="neomorphism neomorphic-shadows mb-5" style=" border-bottom-left-radius: 1rem;border-bottom-right-radius: 1rem;border-top-left-radius: 1rem;border-top-right-radius: 1rem;margin-right:35px;margin-left:20px">
                <h3 class="m-0 a font-weight-bold text-info" style="font-size:18px">Customer Management  Dashboard (Admin)</h3>
            </div>


            <div class="card-body" style="padding-left:10px;padding-right:0px;background-color: #ecf0f3;">
                <div class="row col-sm-12" style="padding-left:10px;padding-right:0px;">
                   

                    <a class="col-sm-3" href="/CustomerUser/CustomerUser/GetAllCustomerUsers">
                        <div class="neomorphism neomorphic-shadows neomorphic-shadows-hover form-group text-center card cardBtn  mb-5" style="min-height:150px">
                            <div class="text-center btn btn-default text-info" align="center">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <i class="fa fa-list-alt" style="font-size:40px"></i>

                                    </div>
                                </div>
                                <hr />

                                <h4 style="font-size:19px">All Customer List</h4>
                            </div>
                        </div>
                    </a>
                


                </div>
                <br />

                <br />

            </div>

        </div>
    </div>
</div>

