@{
    ViewData["Title"] = "Requisition View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title" style="color: black;text-align:center;">Invoisewaise Puchase Report</h5>
        <hr>

        <div class="container">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">

                    <div class="form-group row" id="forfromDate">
                        <label for="fromDate" class="col-sm-3  col-form-label">From Date<span style="color:red">*</span></label>
                        <div class="col-sm-9 input-group">
                            <input name="fromDate" id="fromDate" class="form-control input-group-sm" />
                            <div class="input-group-prepend">
                                <label for="fromDate" class="fas fa-calendar-alt form-control input-group-sm input-group-text bg-white"></label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="fortoDate">
                        <label for="toDate" class="col-sm-3  col-form-label">To Date<span style="color:red">*</span></label>
                        <div class="col-sm-9 input-group">
                            <input name="toDate" id="toDate" class="form-control input-group-sm" />
                            <div class="input-group-prepend">
                                <label for="toDate" class="fas fa-calendar-alt form-control input-group-sm input-group-text bg-white"></label>

                            </div>
                        </div>
                    </div>


                    <div class="form-group row" id="forButton">
                        <label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input type="button" value="Export To PDF" id="btnPrint" class="btn btn-success btn-sm" style="width:120px;" />
                            &nbsp;&nbsp;&nbsp;

                            <input type="button" id="btnRefresh" value="Refresh" class="btn btn-info btn-sm" style="width:80px;" />

                        </div>
                    </div>

                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>

        $(document).ready(function () {

            $("#fromDate").datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "2010:2030" }).datepicker("setDate", new Date());

            $("#toDate").datepicker({ dateFormat: "dd-M-yy", showAnim: "scale", changeMonth: true, changeYear: true, yearRange: "2010:2030" }).datepicker("setDate", new Date());

    

        });



        $("#btnRefresh").click(function (e) {
            $('#fromDate').val('');
            $("#toDate").val('');
        });

        $("#btnPrint").click(function (e) {
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            //alert(userId);
            window.open('/Report/AdminReport/GetAllOrderedDetailsPDF?&startDate=' + fromDate + '&endDate=' + toDate);

        });

        function normalword(response) {
            console.log(response);
            window.open('/pdf/' + response);
        }



    </script>
}
